.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form__title {
  text-align: center;
  color: var(--text);
}

.login-form label {
  font-weight: 500;
  color: var(--text);
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: .5rem;
}

.login-form input:focus {
  outline: 3px solid var(--highlight);
}

.login-form__btn {
  height: 2rem;
  width: 8rem;
}
