.item-card-container {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: auto;
  cursor: pointer;
}

.item-card-container__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.75rem;
}

.item-card-container {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  gap: 0;
  width: 16rem;
  height: 20rem;
}