.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5.5rem;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.nav-bar__menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.nav-bar__menu-left, .nav-bar__menu-right {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  
}

.nav-bar__menu-link > a {
  color: var(--text);
  text-decoration: none;
}

.nav-bar__menu-link > a.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0.3rem;
  height: 0.3rem;
  background-color: red;
  border-radius: 50%;
}

.logout-btn {
  cursor: pointer;
}