.page-nav {
  width: 20%;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  margin-left: 6rem;
}

.page-btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--bg);
  border: none;
  color: var(--text);
  flex: 1;
}

.page-btn:hover {
  cursor: pointer;
}

.page-btn:disabled {
  background-color: var(--bg-light);
  color: var(--text-muted);
  cursor:default;
}

.page-nav__current {
  font-size: 1.5em;
}