.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    background: var(--bg);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.profile-email {
    font-size: 1rem;
    color: var(--text-muted);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile-info {
    margin-top: 20px;
    text-align: left;
}

.profile-info h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.profile-info ul {
    padding-left: 1.5rem;
}

.profile-info li {
    margin-bottom: .5rem;
}
