.search-input {
  width: 26rem;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  color: var(--bg-dark);
  background-color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::placeholder {
  color: var(--bg-light);
}

.search-icon {
  position: relative;
  top: .25rem;
  left: -2.5rem;
}